@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem;
}

#navbar img {
  height: 2rem;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar ul li {
  padding: 0.5rem;
  font-size: 0.7rem;
}

#header {
  text-align: center;
}

#header img {
  height: 15rem;
  margin-top: 5rem;
}

#header .content {
  width: 85%;
  margin: 1rem auto;
}

#header .content h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

#header .content p {
  font-weight: 300;
  font-size: 0.9rem;
}

#header #header-email-input {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}

#header #header-btn {
  width: 100%;
  border: 1px solid #3065f8;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #3065f8;
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
}

#main-content {
  background-color: #f6f6fe;
  margin-top: 5rem;
  text-align: center;
  padding: 0 0 2rem;
}

#main-content .main-content-img {
  height: 15rem;
  margin: 5rem 0;
}

#main-content .content h3 {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

#main-content .content div {
  text-align: left;
  padding: 1rem;
}

#main-content .content div p {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
}

#main-content .content .fylo-works-link {
  border-bottom: 1px solid green;
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0.4rem;
  margin: 0 auto;
}

#main-content .content .fylo-works-link a {
  text-decoration: none;
  color: green;
  font-size: 0.8rem;
}

#main-content .content .fylo-works-link img {
  margin-left: 0.7rem;
}

#main-content #review-quote {
  margin: 4rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  text-align: left;
}

#main-content #review-quote p {
  font-size: 0.7rem;
  font-weight: 300;
}

#main-content #review-quote img {
  margin-bottom: 0.5rem;
}

#main-content #review-quote .review-quote-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

#main-content #review-quote .review-quote-info img {
  height: 2rem;
  border-radius: 50%;
}

#main-content #review-quote .review-quote-info .review-quote-name {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

#main-content #review-quote .review-quote-info h5 {
  font-size: 0.5rem;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content #review-quote .review-quote-info p {
  font-size: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#get-started {
  background-color: #585989;
  height: 50vh;
  color: #fff;
}

#get-started .get-started-items {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 25% 0;
  text-align: center;
}

#get-started .get-started-items h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}

#get-started .get-started-items p {
  margin-bottom: 2rem;
  font-weight: 300;
}

#get-started .get-started-inputs input[type=email] {
  margin: 0 auto 0.5rem;
  padding: 0.5rem 1rem;
  width: 80%;
}

#get-started .get-started-inputs input[type=button] {
  background-color: #3065f8;
  padding: 0.5rem 1rem;
  width: 80%;
  border: none;
  border-radius: 2px;
  color: #fff;
}

#footer {
  padding: 4rem 2rem;
  background-color: #070439;
  color: #fff;
}

#footer img {
  margin-bottom: 2rem;
}

#footer .phone,
#footer .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#footer .phone img,
#footer .email img {
  margin-right: 1rem;
}

#footer .email {
  margin-bottom: 2rem;
}

#footer .footer-nav ul {
  margin-bottom: 3rem;
}

#footer .footer-nav ul li {
  margin-bottom: 1rem;
}

#footer .social-icons {
  text-align: center;
}

#footer .social-icons i {
  margin-right: 1rem;
  border: 1px solid white;
  padding: 6px 5px 6px 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
}

@media (min-width: 769px) and (max-width: 1440px) {
  #navbar {
    padding: 2rem;
  }
  #navbar ul li {
    font-size: 1rem;
    margin-right: 1rem;
  }
  #header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'content image';
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
  #header img {
    height: 25rem;
    margin: 1rem 5rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
  }
  #header .content {
    width: 70%;
    margin: 5rem 0 0 7rem;
    text-align: left;
  }
  #header .content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #header #header-email-input {
    width: 55%;
    margin: 1rem 1rem 0 0;
  }
  #header #header-btn {
    width: 35%;
  }
  #main-content {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'content image';
  }
  #main-content .main-content-img {
    height: 25rem;
    margin: 10rem 7rem 10rem 0;
  }
  #main-content .content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    margin: 7rem auto;
    text-align: left;
    width: 80%;
    height: 6%;
  }
  #main-content .content div {
    padding: 0;
  }
  #main-content .content h3 {
    font-size: 2rem;
  }
  #main-content .content .fylo-works-link {
    border-bottom: 1px solid green;
    width: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
  #main-content #review-quote {
    margin: 3rem 0;
    width: 50%;
  }
  #get-started {
    height: 30vh;
  }
  #get-started .get-started-items {
    height: 100%;
    padding: 5rem 0;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'content inputs';
  }
  #get-started .get-started-items .get-started-content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    width: 80%;
    text-align: left;
  }
  #get-started .get-started-items .get-started-content h3 {
    font-size: 1.5rem;
  }
  #get-started .get-started-items .get-started-inputs {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: inputs;
    width: 100%;
  }
  #get-started .get-started-items .get-started-inputs .email-input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 70%;
  }
  #get-started .get-started-items .get-started-inputs .btn-input {
    width: 40%;
    margin-right: 8.6rem;
  }
  #footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'logo logo logo logo' 'group-1 group-2 group-3 group-4';
    padding: 4rem;
  }
  #footer .footer-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: logo;
  }
  #footer .group-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: group-1;
  }
  #footer .footer-nav-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: group-2;
    margin-left: 6rem;
  }
  #footer .footer-nav-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: group-3;
    margin-left: 9rem;
  }
  #footer .social-icons {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: group-4;
  }
}

@media (min-width: 376px) and (max-width: 1439px) {
  #navbar ul li {
    font-size: 1.1rem;
  }
  #main-content .content h3 {
    font-size: 1.5rem;
  }
  #main-content .content div {
    padding: 0 10rem 2rem;
  }
  #main-content .content .fylo-works-link {
    width: 19%;
  }
  #main-content #review-quote {
    width: 40%;
    margin: 3rem auto;
  }
  #main-content #review-quote .review-quote-info {
    padding: 0;
  }
  #main-content #review-quote .review-quote-info .review-img {
    padding: 0;
  }
  #main-content #review-quote .review-quote-info .review-quote-name {
    padding: 0;
  }
  #get-started {
    height: 30vh;
  }
  #get-started .get-started-items {
    padding: 3rem 0;
  }
  #get-started .get-started-items .get-started-content h3 {
    font-size: 1.9rem;
  }
}
/*# sourceMappingURL=style.css.map */